body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.chart{
  width: 100vw;
  height: 80vh;
}

.headline{
  padding: 20px;
}

.headlineText{
  margin-right: 25px;
}

.textH {
  text-align: left;
}

.hdBadge {
  padding-left: 100px;
}

/* .faces{
  text-align: center;
  display:flex; 
  justify-content: center;
  align-items: center;
  position:absolute;
  vertical-align: middle;
  display: flex;
  align-items: center; 
  justify-content: center;
} */

#mood{
  font-size: 100px;
}

#moodText{
  font-size: 50px;
}